{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>login</h1>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {% comment %} <label>Username:</label> <input type="text" name="username"> <br><br>
            <label>Password:</label> <input type="password" name="password"> <br><br>  {% endcomment %}
            {{ registerform.as_p}}
            <button type="submit">Register</button> 
        </form>
        <br>
        <h3> OR </h3>
    <a href="{% provider_login_url 'google' %}">Sign up with google</a>
</body>
</html>